[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"
"autopep8" = "*"

[requires]
python_version = "3.5"

[packages]
python-telegram-bot = "*"
requests = "*"
pyyaml = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}
